<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <style>
        div.esf {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            line-height: normal;
        }
        
        div.esf h3 {
            font-size: 20px;
            line-height: normal;
        }
    </style>
</head>

<body>

    <div class="esf">
        <h1>Espace Santé Famille</h1>
        <h2>Service « Santé et Exil »</h2>
        <h2>ASBL BE0698.997.242</h2>
        <h3>Chaussée de Louvain, 51</h3>
        <h3>1210 BRUXELLES</h3>
        <h3>Téléphone : +32 2 427 19 99</h3>
        <h3>Gsm du coordinateur : +32 486 700 441</h3>
        <h3>INAMI/RIZIV : 7-00418-19-000</h3>

        <p></p>
    </div>

</body>

</html>